{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- fraction_pure_style -->
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/menus.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/menus-core.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/grids.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/fraction_pure_style/tables.css' %}">

    <!-- custome css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>
    <!-- header -->
    {% block header %}
    {% endblock header %}

    <!-- content -->
    {% block content %}
    {% endblock content %}
  </body>
</html>
