{% extends "base.html" %}

{% block title %}Fraction Data Set{% endblock %}

{% block content %}
<div class="wrap">
    <div class="heading_box">
      <h1>Image Dataset Name</h1>
      <p>Job description: Collect images that are...</p>
    </div>
    <div class="url_api">
      <form class="pure-form">
        <input type="password" placeholder="API key url goes here">
      </form>
    </div>
</div>

<table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
        </tr>
    </tbody>
</table>
{% endblock %}
