{% extends "base.html" %}
{% load static %}

{% block title %}Fraction Data Set{% endblock %}

{% block header %}
  <header>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="{% url 'accounts:auth_logout' %}" class="pure-menu-link">Logout</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="{% url 'dataset:create_dataset' %}" class="pure-menu-link">Create Dataset</a></li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink1" class="pure-menu-link">My Data</a>
              <ul class="pure-menu-children">
                {% for ds in dataset_list %}
                  <li class="pure-menu-item"><a href="{% url 'dataset:detail_dataset' dataset_id=ds.id %}" class="pure-menu-link"># {{ ds.name }}</a></li>
                {% endfor %}
              </ul>
          </li>
      </ul>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="wrap">
    <h1>Instructions</h1>
		<div class="form-main" style="padding: 0; width: 90%; margin: 8% auto">
      <div id="editor" style="height: 480px;font-size: 14px"># 1. Create a new DataSet

import requests
import json

create_url = "{{ host_url }}/api/v1/datasets/"
detail_url = "{{ host_url }}/api/v1/dataset/%d/data"

headers = {
    'Content-Type': "application/json",
    'Authorization': "Token {{ api_token }}",
    'Cache-Control': "no-cache"
    }

payload = {
            "name": "Health Survey",
            "column_names": [{
                "age": "Age of person in years",
                "name": "First and last name",
                "weight": "Weight in pounds",
                "vegetarian": "Is the respondent a vegetarian?"
                }],
            "description": "Conduct a survey asking questions related to health in Townsville."
          }

response = requests.request("POST", create_url, data=json.dumps(payload), headers=headers)

json_resp = json.loads(response.text)

if response.ok:
    print("A Dataset has been created successfully.")
    dataset_url = detail_url % json_resp['pk']
    print("Dataset URL: %s" % dataset_url)

else:
    print("Error in creating dataset.")
    print(response.text)


# 2. Get Detail of a DataSet (for example, dateset pk: 1)

import pandas as pd
import json
import requests

url = "{{ host_url }}/api/v1/dataset/1/data"

headers = {
  'Content-Type': "application/json",
  'Authorization': "Token {{ api_token }}",
  'Cache-Control': "no-cache"
  }

response = requests.request("GET", url, headers=headers)
json_resp = json.loads(response.text)

if response.ok:
  df = pd.DataFrame(json_resp['data'])
  print(df)
else:
  print(response.text)

      </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static 'js/libs/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/mode-python.js' %}"></script>
<script>
    var editor = ace.edit("editor");
	  editor.setTheme("ace/theme/textmate");

	  var PythonMode = ace.require("ace/mode/python").Mode;
    editor.session.setMode(new PythonMode());
    editor.setOptions({
      readOnly: true
    })
</script>

{% endblock extra_script %}
